@font-face {
    font-family: 'Salina';
    src:url('Assets/Salina-Trial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.p1{
    text-align: left;
    font-family: 'Lato', Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    padding-bottom: 3%;
}
h5{
    font-family: 'Lato', Helvetica, sans-serif;
    padding-bottom: 5%;
}
.card-text{
    font-family: 'Lato', Helvetica, sans-serif;
}
.container-kontakt{
    margin-left: 50px;
}
.text-kontakt{
    text-align: left; 
    margin: 0 auto; 
    width: 250px;
    font-size: 1.1rem;
}
.txt-skills{
    font-family: 'Salina', Helvetica, sans-serif;
    color: #837c9a;
    font-weight: 300;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-bottom: 5%;
    padding-left: 4%;
}
.list-skills{
    margin-left: 10%;
    list-style: circle;
}
.skills{
    border-left: 1px solid black;
}
.img-start{
    width: 50%;
}
.img-profile img{
    border-radius: 50%;
}
.img-developer{
    float: left;
    margin-top: 5%;
    border-radius: 20%;
}
.img-vr{
    border-radius: 20%;
    float: right;
}
.img-quote{
    float: left;
}

.txt-profile{
    font-size: 1.7rem;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'Salina', Helvetica, sans-serif;
    color: #55665e;
}
.img-social{
    width: 100%;
}
.dropdown-item:hover{
    color:#C38154;
}

.nav-link:hover{
    opacity: 0.5;
}
.navbar-main .nav-item a.active{
    color:#c38f8f; 
}
.navbar-main
{
    border-bottom: 0.5px solid black;
}
.text-container {
    width: 50%;
}
.dropdown-menu a{
    color: rgb(255, 255, 255, 0.55);
}
.dropdown-item:hover{
    background-color: rgb(255, 255, 255, 0.1);
}
.card-footer{
    background: transparent;
    border-top: 0px;
}
.info-text{
    font-size: 20px;
    text-align: center;
}
.breadcrumb{
    margin-left: 24%;
}
.breadcrumb-item a{
    color: #212121;
    text-decoration: none;
}
.breadcrumb-item.active{
    color: #7d2424;
         
}
.breadcrumb-item a:hover{
    color: #7d2424;
}
.column-start{
    width: 50%;
}
.column-portfolio{
    width: 70%;
}
.social-links a:hover{
opacity: 0.5;
}
@media (max-width: 767px) {
.column-start{
    width: 80%; 
}
.text-container{
    width: 80%;
}
.img-social{
    width: 80%;
}
}
@media (max-width: 452px) {
.column-portfolio{
    width: 300px;
}
.column-start{
    width: 100%; 
}
.text-container{
    width: 100%;
}
.dropdown-menu{
    font-size: large;
}
.navbar{
    font-size: large;
}

}